<h1>Restaurant Finder</h1>
<form action="/restaurants" method="POST">
  <input type="text" name="name" placeholder="Name" required>
  <input type="text" name="city" placeholder="City" required>
  <input type="text" name="locality" placeholder="Locality" required>
  <button type="submit">Add Restaurant</button>
</form>
